<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Internet for VirusTotal -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Required to list installed apps (Android 11+) -->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />

    <application
        android:label="Clean Install"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Broadcast Receiver for auto scan -->
        <receiver
            android:name=".VirusScanReceiver"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <data android:scheme="package"/>
            </intent-filter>

        </receiver>

        <!-- Required Flutter meta-data -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

    </application>

    <!-- Required for package visibility -->
    <queries>

        <!-- Needed for listing apps -->
        <intent>
            <action android:name="android.intent.action.MAIN" />
        </intent>

        <!-- Flutter text processing -->
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>

    </queries>

</manifest>
